<p>rename-novel-dialog works!</p>
<h1 mat-dialog-title>Rename novel</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>New name</mat-label>
    <input
      matInput
      [(ngModel)]="newNovelName"
    />
  </mat-form-field>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onRename()">Rename</button>
</mat-dialog-actions>
