<h1 mat-dialog-title>Copy novel</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>New name</mat-label>
    <input
      matInput
      [(ngModel)]="newNovelTitle"
    />
  </mat-form-field>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

  <div *ngIf="tags.length">
    Tags:
    <div *ngFor="let tag of tags; let i = index" class="tag-label"><button
      class="label label-default tag-label-name" aria-label="Select tag CV"><span
        [style.color]="tag.color"><i class="fa fa-circle" aria-hidden="true"></i></span>
      {{tag.name}}</button><button (click)="untagCopiedNovel(tag)" class="label label-default tag-label-remove"
      aria-label="Remove tag CV"><span aria-hidden="true">×</span></button></div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onCopy()">Create</button>
</mat-dialog-actions>
