<h1 mat-dialog-title>Edit tag</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Tag name</mat-label>
    <input
      matInput
      placeholder="Tag name"
      [(ngModel)]="tagName"
    />
  </mat-form-field>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onEdit()">Edit</button>
</mat-dialog-actions>
