/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~quill/dist/quill.core.css"; */
@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.bubble.css";


html, body { height: 100%;  margin: 0; padding: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 14px;}

.loading-spinner {
  border: 3px solid white;
  border-left-color: #333;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

:host {
  min-width: 40px;
  padding-right: 10px;
  position: relative;
}

.resizable {
  min-width: 40px;
  padding-right: 10px;
  position: relative;
}

.grabber {
  cursor: col-resize;
  position: absolute;
  background-color: goldenrod;
  width: 10px;
  height: 100%;
  right: 0;
  top: 0;
}

.tag-label {
  display: inline-block;
  line-height: 1;
  margin-left: 6.25px;
  position: relative;
  top: 2px;
  white-space: nowrap;
}

.label.tag-label-name, .label.tag-label-remove {
  background-color: #e7e9ee;
  border-radius: 9999px;
  border-width: 0;
  color: #495365;
  display: inline-block;
  padding: 3px 4px;
  vertical-align: text-bottom;
}

.label.tag-label-name {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  max-width: 150px;
  overflow: hidden;
  padding-right: 2px;
  text-overflow: ellipsis;
}

.label.tag-label-remove {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 2px;
}
